apache-superset==6.0.0
# https://github.com/apache/superset/issues/33162
# when upgrading superset above, check that this is still needed
# -> https://github.com/apache/superset/blob/master/requirements/base.txt
marshmallow<4
psycopg2-binary
gunicorn
gevent
Pillow
boto3
minicli
sentry-sdk
